* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  background: #292929;
  width: 100%;
  height: 8rem;
}

.nav-wrapper {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text {
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 12rem;
  height: 4rem;
  font-size: 1.5rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

/* ==========
SearchForm
========== */
.title {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.form-section {
  margin-top: 4rem;
  width: 80%;
}

.form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form .text-wrapper {
  width: 80%;
}
.search-form .btn-wrapper {
  width: 80%;
}
.search-form input {
  width: 80%;
  height: 2rem;
  font-family: "DM Sans", sans-serif;
  padding-left: 1rem;
}

.search-form button {
  display: block;
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 5rem;
  background: rgb(60, 128, 184);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
}
.search-form button:hover {
  background: rgb(30, 99, 156);
  transform: translateY(-5px);
  transition: all 0.2s linear;
  cursor: pointer;
}

/* ==========
MovieCard
========== */
.loader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 8px solid #5b5858;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movie-container {
  background: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* ==========
SingleMovie
========== */

.movie-cards {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 2px 2px #dbd9d9;
}

.single-movie {
  width: 100%;
}

.single-movie img {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}

.single-movie .movie-title {
  font-size: 1.5rem;
  color: #f0f0f0;
  padding: 0 1rem 0 1rem;
}

.title-btn-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-btn {
  align-self: center;
  /* font-size: 1rem; */

  padding: 0.5rem 0.5rem;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  background: #ffff;
  color: #000000;
  border-radius: 5px;
  border: none;
  margin-top: 0.5rem;
}

.title-btn:hover {
  cursor: pointer;
  color: #ffff;
  background: #000000;
  transform: translateY(-5px);
  transition: all 0.2s linear;
}

@media screen and (max-width: 1025px) {
  .nav-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1025px) {
  .movie-cards {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .movie-cards {
    width: 80%;
  }
}

.story-line-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: all 2s linear;
}

.story-container {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  height: 50%;
  overflow: auto;
  transition: all 2s linear;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #3428de;
  font-weight: bolder;
}

.story-text {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  text-align: center;
  margin: auto;
  line-height: 1.6;
  font-size: 1.2rem;
}
