.hero {
  /* https://img.freepik.com/free-vector/cinema-room-background_1017-8728.jpg?w=740&t=st=1698010833~exp=1698011433~hmac=490b0fb27ab7435ec1a44beb735e77b1dcde72981404d65c3250fc78ea40cb1f */
  background-image: url("../assets/Bg\Img.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.hero-text-wrapper {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text-wrapper p {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6.5rem;
}

@media screen and (max-width: 1025px) {
  .hero-text-wrapper {
    width: 100%;
  }
  .hero-text-wrapper p {
    width: 50%;
    text-align: center;
    margin: 0;
  }
}
@media screen and (max-width: 580px) {
  .hero-text-wrapper p {
    font-size: 1.7rem;
    text-align: center;
    width: 60%;
    margin: 0;
  }
}
@media screen and (max-width: 376px) {
  .hero-text-wrapper p {
    font-size: 1.7rem;
    text-align: center;
    width: 70%;
    margin: 0;
  }
}
